<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_8beatMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_8beatMap.Properties.Settings>
            <setting name="DefaultMusicDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VideoDelay" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="PreviewTimingOffset" serializeAs="String">
                <value>-20</value>
            </setting>
            <setting name="AudioLatency" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="Skin" serializeAs="String">
                <value>8bs</value>
            </setting>
            <setting name="ChartZoom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NoteSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PauseOnSeek" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UseBeepNoteSounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreSettingsInit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowComboInPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>ja</value>
            </setting>
            <setting name="CharaIcons" serializeAs="String">
                <value>,0,2,127
,0,2,127
,0,2,127
,0,2,127
,0,2,127
,0,2,127
,0,2,127
,0,2,127
</value>
            </setting>
            <setting name="PreviewBackground" serializeAs="String">
                <value />
            </setting>
        </_8beatMap.Properties.Settings>
    </userSettings>
</configuration>